<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: head}">
</head>
<body id="pageCenter">
<div th:replace="~{fragments :: header}"></div>
<main>
    <h2>Create Ride</h2>

    <form th:action="@{/rides/create}" method="post">
        <label for="pickupLocation">From:</label>
        <input type="text"
               id="pickupLocation"
               name="pickupLocation"
               placeholder="Pickup At"
               th:field="*{ride.pickupLocation}"
               required/>
        <br><br>

        <label for="destinationCampus">Destination Campus:</label>
        <input type="text"
               id="destinationCampus"
               name="destinationCampus"
               placeholder="Destination Campus"
               th:field="*{ride.destinationCampus}"
               required/>
        <br><br>

        <label for="rideDate">Ride Day:</label>
        <input type="date"
               id="rideDate"
               name="rideDate"
               placeholder="Ride Day"
               th:field="*{ride.rideDate}"
               required/>
        <br><br>

        <label for="rideTime">Arrival Time:</label>
        <input type="time"
               id="rideTime"
               name="rideTime"
               placeholder="Arrive by"
               th:field="*{ride.rideTime}"
               required/>
        <br><br>

        <label for="maxPassengers">Maximum Passengers:</label>
        <input type="number"
               id="maxPassengers"
               name="maxPassengers"
               placeholder="Maximum Passengers"
               min="1"
               th:field="*{ride.maxPassengers}"
               required/>
        <br><br>

        <button type="submit">Create Ride</button>

    </form>
</main>
<footer th:replace="~{fragments :: footer}"></footer>
</body>
</html>