<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title>Ride Share App</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>

<header th:fragment="header">
    <h1>Campus Ride Share App</h1>

    <nav>
        <a th:href="@{/}">Home</a>
        <br>
        <a th:href="@{/rides}">View Rides</a>

        <a th:href="@{/rides/create}">Start Ride</a>
        <br>
        <a th:href="@{/login}">Login</a>

        <a th:href="@{/logout}">Logout</a>

        <a th:href="@{/register}">Register</a>

        <a th:href="@{/profile}">My Account</a>
        <br>
        <a th:href="@{/admin/dashboard}">Admin Dashboard</a>
    </nav>

    <hr>
</header>

<footer th:fragment="footer">
    <hr>

    <p>&copy; Ride Share App 2026</p>
</footer>

</body>
</html>