<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head">
</head>

<body id="pageCenter">
<div th:replace="fragments :: header"></div>

<main>
    <h2>Need a Ride?</h2>
    <img class="imageRight" th:src="@{/images/campusStudents.jpg}" width="133" height="200" alt="campus">
    <p>We help students safely travel between campuses,
        and around the Omaha area!</p>
    <p>Create + Join rides.</p>
    <a th:href="@{/rides}">Create ride</a>
    <p>Stay Connected with your peers!</p>
</main>

<footer th:replace="fragments :: footer"></footer>
</body>
</html>